*{
    font-size: 15pc;
    color:red;
}
body{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100vh;
    background-color: skyblue;
}
p{
    animation: beat 2s infinite;
}
@keyframes beat{
    0% {scale: 1;}
    50% {scale: 0.5;color: rgb(255, 251, 0);}
    100%{scale: 1;}

}