*{
    font-size: 15pc;
    color:red;
}
body{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100vh;
    background-color: skyblue;
}
p{
    animation: beat .5s infinite alternate linear;
}
@keyframes beat{
    from {transform:scale(.7) ;}
    to {transform:scale(1)}

}