*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3pc;
}
h1{
    font-size: 5pc ;
}
p{
    font-size: 3pc;
}
.section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5pc;
}
.section div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f9;
    height: 12pc;
    width: 12pc;
    transition:1s ease;
}
.section div .circle{
    background-color: red;
    height: 4pc;
    width: 4pc;
    border-radius: 50%;
}

.sectors-2:active{
    border-radius: 40px;
    
}
.sectors-3:active{
    border-radius: 50%;
    
}
.sectors-4:active{
    border-radius: 50% 0;
}
.sectors-5:active{
    border-radius: 0 0 50% 50%;
}
.sectors-6:active{
    border-radius:50% 50% 0 0 ;
}
.sectors-7:active{
    border-radius: 50% 20% / 10% 40%;
}

