*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
}
.section div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f9;
    height: 12pc;
    width: 12pc;
}
.section div .circle{
    background-color: red;
    height: 4pc;
    width: 4pc;
    border-radius: 50%;
}

.sectors-2{
    border-radius: 10px;
}
.sectors-3{
    border-radius: 50%;
}
.sectors-4{
    border-radius: 50% 0;
}
.sectors-5{
    border-radius: 0 0 50% 50%;
}
.sectors-6{
    border-radius:50% 50% 0 0 ;
}
.sectors-7{
    border-radius: 50% 20% / 10% 40%;
}

