body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

}
div{
    height: 200px;
    width: 200px;
    border: 1px black solid ;
    transition: all 0.4s ease;
}