body{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}
div{
    height: 200px;
    width: 200px;
    border: 1px black solid ;
    transition: all 0.4s ease;
}
button{
    border: none;
    height:50px;
    width: 100px;
    background-color: rgb(0, 115, 255);
    border-radius: 8px;
    color: #FFFF;
    padding: 120px white;
    transition: all 0.4s ease;
}
button:is(:hover,:focus){
    outline-offset: 3px;
    
    opacity: 0.8;
}
#button{
    height: 60px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid ;
    border-radius: 8px;
}